.galery_content{
    min-height: 80;
    display: flex;
    flex-direction: column;
}

.project_images{
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;

}
.project_images img{
    max-width: 250px;
    height: 100%;
    border-radius: 5px;
    margin: 0 auto;
}
.label_galery{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 25px;
}

.project_images img:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}
.modal{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #36363691;
}
.modal-content{  
    max-width: 100%;
    height:auto ;
    border-radius: 15px;
    z-index: 150;
}
.close{
    position: absolute;
    top: 10px;
    right: 25px;
    color: #2c2b2bda;
    cursor: pointer;
    font-size: 35px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-weight: bold;
    cursor: pointer;
    background-color: #f5f5f5;
    border-radius: 50%;
    z-index: 200;
}
.close:hover{
    color :rgba(255, 0, 0, 0.781);
    transform: scale(1.1);
}

@media screen and (max-width: 2250px) {
    .project_images {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}
@media screen and (max-width: 500px) {
    .project_images img {
        max-width: 150px;
    }
}
